.header {
  margin: 0px 12px;
}

.brandLogo {
  height: 1rem;
  width: auto;
  margin-right: 1rem;
  transform: scale(1.85);
}

.brandLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  font-size: 1rem;
}

.cartButton {
  position: relative;
  margin-right: 12px;
}

.itemCount {
  position: absolute;
  background-color: gold;
  bottom: 1px;
  left: 20px;
  right: 20px;
  border-radius: 50%;
  padding: 2px 6px;
  font-weight: bold;
  font-size: 0.75rem;
  line-height: 1;
  transform: rotateY(45deg);
}
